:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'inter';
}
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -12%;
}

.container {
    align-items: center;
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
    height:  5em;
    width: 25em;
}

.container__botao {
    margin-bottom: 1em;
    text-decoration: none;
    border-radius: 0.5em;
    background: var(--botao-azul);
    display: flex;
    padding: 1em;
    align-items: flex-start;
    color: var(--branco-principal);
    width: 45em;
}
.container__botao:hover{
    color: #EC2F46;
  
}

.botao_secundario{
    display: flex;
    padding: 1em;
    align-items: flex-start;
    border-radius: 0.5em;
    border: 1px solid var(--cinza-secundario);
    background-color: transparent;
    width: 45em;
}

.container__aviso {
    color: var(--cinza-secundario);
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container__imagem {
    margin: 1em 0 3em 0;
    margin-left: -28%;
    
}

.container__caixa{
    margin: 0 8em;
    
}

.secundario__imagem  {
    width:85%;
}

.secundario {
    align-items: center;
    margin: 0 15em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
    font-size: 16px;
    margin-left: 18%;
    width: 65%;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
    width: 10.1675em;
}

.container__descricao{
    padding: 2em;  
}

.secundario__imagem{
    width:85%;
}

.container__caixa {
    margin-top: 3em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3em;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 1.8em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.lista__link a:hover {
    color: var(--botao-azul);
}